<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="icon" href="icon.png"/>
    <link rel="stylesheet" href="../css/feed.css">
    <title>Photo Connect</title>
</head>

<body>
    <header>
        <nav>
            <div class="buttons">
                <img src="icon.png" id="icone">
                <a href="feed.html" target="_blank" style="text-decoration:none"><button class="inicio">Página inicial</button></a>
                <a href="criar.html" target="_blank" style="text-decoration:none"><button class="criar">Criar</button></a>
                <input class="pesquisa" placeholder="Pesquisar" search="animais">
            </div>
        </nav>
        
    </header>
    <br>
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "gutter":10, "columnWidth":50 }'>
        <div id="animais">
            <div class="grid-item" nome="tartaruga">
                <img src="https://images.pexels.com/photos/2397653/pexels-photo-2397653.jpeg?auto=compress&cs=tinysrgb&w=600" alt="tartaruga">
            </div>
            <div class="grid-item" nome="cachorro">
                <img src="https://images.pexels.com/photos/2253275/pexels-photo-2253275.jpeg?auto=compress&cs=tinysrgb&w=600" alt="cachorro">
            </div>
            <div class="grid-item" nome="lobo">
                <img src="https://images.pexels.com/photos/397857/pexels-photo-397857.jpeg?auto=compress&cs=tinysrgb&w=600" alt="lobo">
            </div>
            <div class="grid-item" nome="lobo">
                <img src="https://images.pexels.com/photos/918596/pexels-photo-918596.jpeg?auto=compress&cs=tinysrgb&w=600" alt="lobo">
            </div>
            <div class="grid-item" nome="cachorro">
                <img src="https://images.pexels.com/photos/2607544/pexels-photo-2607544.jpeg?auto=compress&cs=tinysrgb&w=600" alt="cachorro">
            </div>
            <div class="grid-item" nome="cachorro">
                <img src="https://images.pexels.com/photos/1490908/pexels-photo-1490908.jpeg?auto=compress&cs=tinysrgb&w=600" alt="cachorro">
            </div>
            <div class="grid-item" nome="gato">
                <img src="https://images.pexels.com/photos/3777622/pexels-photo-3777622.jpeg?auto=compress&cs=tinysrgb&w=600" alt="gato">
            </div>
            <div class="grid-item" nome="gato">
                <img src="https://images.pexels.com/photos/1521304/pexels-photo-1521304.jpeg?auto=compress&cs=tinysrgb&w=600" alt="gato">
            </div>
            <div class="grid-item" nome="gato">
                <img src="https://images.pexels.com/photos/1653357/pexels-photo-1653357.jpeg?auto=compress&cs=tinysrgb&w=600" alt="gato">
            </div>
            <div class="grid-item" nome="gato">
                <img src="https://images.pexels.com/photos/804475/pexels-photo-804475.jpeg?auto=compress&cs=tinysrgb&w=600" alt="gato">
            </div>
            <div class="grid-item" nome="borboleta">
                <img src="https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&w=600" alt="borboleta">
            </div>
            <div class="grid-item" nome="borboleta">
                <img src="https://images.pexels.com/photos/66877/butterfly-exotic-south-america-amazon-66877.jpeg?auto=compress&cs=tinysrgb&w=600" alt="borboleta">
            </div>
            <div class="grid-item" nome="flamingo">
                <img src="https://images.pexels.com/photos/1327405/pexels-photo-1327405.jpeg?auto=compress&cs=tinysrgb&w=600" alt="flamingo">
            </div>
            <div class="grid-item" nome="coelho">
                <img src="https://images.pexels.com/photos/4588065/pexels-photo-4588065.jpeg?auto=compress&cs=tinysrgb&w=600" alt="coelho">
            </div>
            <div class="grid-item" nome="panda">
                <img src="https://images.pexels.com/photos/3608263/pexels-photo-3608263.jpeg?auto=compress&cs=tinysrgb&w=600" alt="panda">
            </div>
            <div class="grid-item" nome="coruja">
                <img src="https://images.pexels.com/photos/53977/eagle-owl-raptor-falconry-owl-53977.jpeg?auto=compress&cs=tinysrgb&w=600" alt="coruja">
            </div>
        </div>    
    </div>
    
    <pre>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <script src="../js/sistema_de_busca.js"></script>
    </pre>

</body>

</html>